:root{
    
    --base-font-color: rgb(131, 148, 150);
    --secondary-font-color:rgb(88, 110, 117);
    --emphasised-font:rgb(147, 161, 161);
    --c-background-color:rgb(0, 43, 54);
    --c-background-highlights:rgb(7, 54, 66);
    --c-yellow:rgb(181, 137, 0);
    --c-orange :rgb(203, 75, 22);
    --c-red:rgb(220, 50, 47);
    --c-magenta:rgb(211, 54, 130);
    --c-violet:rgb(108, 113, 196);
    --c-blue:rgb(38, 139, 210);
    --c-cyan:rgb(42, 161, 152);
    --c-green:rgb(133, 153, 0);
}


h1, p {
    padding: 0;
    margin: 0;
    font: 1em/1.33 Verdana, sans-serif;
 }
 h2, p {
    padding: 0;
    margin: 0;
    font: 1em/1.17 Verdana, sans-serif;
 }
 h1, h2 {
    color: red;
 }
 h1, h2, p {
    margin: 0.83em 0 0.17em 0;
 }
 p:first-of-type {
       font: 0.17em/1.33 Verdana, sans-serif;
 }
 p {
       text-indent: 0em;
 }
 p.first {text-indent: 0em;
 }


body {
  background-color: var(--c-background-color);
  max-width: 800px;
}
 header,
 footer {
  background-color: var(--c-background-highlights);
 }

 main,
 footer,
 header{
  color: var(--base-font-color);
 }

main{
    overflow:hidden;
}

 a {
  color: var(--c-magenta);
 }
 nav a:hover {
  color:var(--c-orange);
}

div.subsection{
  border: solid;
  border-width: 3px;
  border-color: var(--c-cyan);
}

header{
 text-align: center;
 size: 150% ;
 color: var(--c-yellow);
}

nav ul {
  list-style-type: none;
  display:flex;
  padding:0;
}
nav li{
    width: 25%;
    text-align:center;

}

h1,h2,h3{
  padding-top: 50px;
}
aside {
  color: var(--c-green);
  width:12%;
  float:right;
}
aside a{
  color: var(--c-red)
}
aside a:hover{
  color: var(--c-blue)
}
article{
  float: left;
  width:88%
}
header{
  text-align: center;
  font-size:150%;
  color: var(--c-yellow)
}