@import "styles2.css";
   h1, p {
      padding: 0;
      margin: 0;
      font: 1em/1.33 Verdana, sans-serif;
   }
   h2, p {
      padding: 0;
      margin: 0;
      font: 1em/1.17 Verdana, sans-serif;
   }
   h1, h2 {
      color: red;
   }
   h1, h2, p {
	  margin: 0.83em 0 0.17em 0;
   }
   p:first-of-type {
   	  font: 0.17em/1.33 Verdana, sans-serif;
   }
   p {
   	  text-indent: 5em;
   }
   p.first {text-indent: 0em;
   }

   body {
    background-color: var(--c-background-color);

   }
   header,
   footer {
    background-color: var(--c-background-highlights);
   }

   main,
   footer,
   header{
    background-color: var(--base-font-color);
   }

   link {
    color: var(--c-magenta);
   }


