@import "styles2.css";

   h1, p {
      padding: 0;
      margin: 0;
      font: 1em/1.33 Verdana, sans-serif;
   }
   h2, p {
      padding: 0;
      margin: 0;
      font: 1em/1.17 Verdana, sans-serif;
   }
   h1, h2 {
      color: red;
   }
   h1, h2, p {
	  margin: 0.83em 0 0.17em 0;
   }
   p:first-of-type {
   	  font: 0.17em/1.33 Verdana, sans-serif;
   }
   p {
   	  text-indent: 5em;
   }
   p.first {text-indent: 0em;
   }


body {
    background-color: var(--c-background-color);
    max-width: 800px;
}
   header,
   footer {
    background-color: var(--c-background-highlights);
   }

   main,
   footer,
   header{
    color: var(--base-font-color);
   }

   a {
    color: var(--c-magenta);
   }
   nav a:hover {
    color: orange;
  }

  div.subsection{
    border: solid;
    border-width: 3px;
    border-color: var(--c-cyan);
}

title{
   text-align: center;
   size: 150% ;
   color: var(--c-yellow);
}

nav ul {
    list-style-type: none;
    display:flex;
    padding:0;
  }

h1,h2,h3{
    padding-top: 50px;
}
aside {
    color: var(--c-green);
    width:12%;
    float:right;
}
aside a{
    color: var(--c-red)
}
aside a:hover{
    color: var(--c-blue)
}
article{
    float: left;
    width:88%
}
header{
    text-align: center;
    font-size:150%;
    color: var(--c-yellow)
}